* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.wave{
  margin-top: -87px;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #E67E22;
  border-radius: 30px;
}
::selection{
  background-color: #E67E22;
  color: #fff;
}

.navbar-nav{
  margin-left: -160px;
}
.navbar-brand img{
  width: 150px;
}

.nav-link {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #00000066;
  background-color: rgb(18, 18, 18);
  border-radius: 30px;
  margin-left: 8px;
}

.nav-link:hover {
  transition: all 0.2s ease-in-out;
  color: #E67E22;
}

body, html {
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section-1 {
  width: 100%;
  height: 100vh;
  float: left;
  background-image: url(../img/Banner/home.webp);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: 100%, 104%;
}

.section-1 h1 {
  padding-top: 300px;
  text-align: left;
  padding-left: 20px;
  font-size: 70px;
  color: #ffffff;
}

.section-1 p {
  text-align: left;
  padding-left: 20px;
  font-size: 30px;
  color: #ffffff;
}

.section-1 a {
  background: transparent;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 8px;
  margin-left: 10px;
  text-decoration: none;
  color: #D35400;
  font-size: 20px;
  border: solid 2px #ffffff;
}

.section-1 a:hover {
  background: #E67E22;
  color: #ffffff;
}

.section-2 {
  width: 100%;
  float: left;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #121212;
}

.section-2 h2 {
  font-size: 50px;
  padding-top: 40px;
  color: #e67e22;
  filter: drop-shadow(2px 2px 20px #d35400);
}

.section-2 p {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.6px;
  font-weight: 300;
  color: #ffffff;
  padding-left: 20px;
}

.section-2 img {
  width: 400px;
  height: 400px;
  padding-top: 40p;
  border-radius: 30px;
  border: solid 2px #D35400;
  margin-left: 20px;
}
.section-2 img:hover{
  filter: drop-shadow(2px 10px 10px #d35400);
}
.section03 {
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/Banner/serviços.webp);
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
}
.galeria{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background: #121212;
}
.galeria img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-bottom: 10px;
    gap: 1rem;
    transition: all .3s ease-in-out;
    margin-left: 200px;
}
.galeria img:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    border: solid 2px #d35400;
    border-radius: 30px;
}
.section03 h3 {
  color: #ffffff;
  font-size: 50px;
}
.card-body{
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
.card-body:hover{
  transition: all 0.2s ease-out;
  filter: drop-shadow(2px 10px 10px #d35400);
  margin-top: -5px;
}
.card-custom {
  background: #121212;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin: 8px;
}
.card-back-1{
  background-image: url(../img/Serviços/barba.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.card-back-2{
  background-image: url(../img/Serviços/corte.webp);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%, 104%;
}
.card-back-3{
  background-image: url(../img/Serviços/beer.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%, 104%;
}

.card-back-4{
  background-image: url(../img/Serviços/escova-progressiva.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%, 104%;
}

.card-back-5{
  background-image: url(../img/Serviços/sobrancelha.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%, 100%;
}
.card-back-6{
  background-image: url(../img/Serviços/maquina.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%, 100%;
}
.card-custom:hover {
  background: #1C1C1C;
}

.card-title {
  color: #D35400;
  font-weight: 300;
  text-align: center;
}

.card-custom img {
  width: 50px;
  padding-bottom: 20px;
}

.btn-custom {
  background: #D35400;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  border-top-right-radius: 0px;
}

.btn-custom:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  background: #E67E22;
}

.card-custom p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.6px;
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
}

.call-to-action {
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #121212;
}

.call-to-action h3 {
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  text-align: left;
}

.call-to-action a{
  text-decoration: none;
  background: #E67E22;
  padding: 8px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  color: #fff;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.call-to-action i{
  color: #01C565;
  transition: all 0.2s ease-in-out;
}
.call-to-action i:hover{
  transition: all 0.2s ease-in-out;
  color: #01C565;
}
.call-to-action a:hover {
  transition: all 0.2s ease-in-out;
  background: #d35400;
  filter: drop-shadow(2px 2px 20px #d35400);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.section-4 {
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #E67E22;
}
.section-4 h4 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.section-5 li{
  list-style: none;
  font-family: "Raleway";
  font-weight: 300;
  text-align: left;
  font-size: 16px;
}
.section-6{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #121212;
}
.section-6 h3{
  color: #fff;
}
.section-6 h4{
  font-size: 25px;
  color: #121212;
}
.section-6 p{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #121212;
}
.contact-area {
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #121212;
}

.contact-area h3, i {
  color: #ffffff;
  text-align: center;
}

.contact-area .contact-title, span, p {
  color: #ffffff;
}

.copy-area img {
  width: 20%;
}

.icons i {
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.icons i:hover{
  transition: all 0.2s ease-in-out;
  color: #fff;
 background-color:#D35400;
}
.copy-area {
  width: 100%;
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #121212;
}

.copy-area p {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 300;
}

.copy-area img {
  width: 100px;
}
.footer-dev{
  width: 100%;
  float: left;
  background-color: #121212;
}

@media(max-width:480px){
  .navbar-toggler-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E67E22;
    padding-top: 10px;
    padding: 10px;
    margin-left: -20px;
  }
  .nav-link{
    padding-left: 140px;
  }
  .offcanvas-header{
    background: #d35400;
  }
  
  .offcanvas-body{
    background: #121212;
  }
  .offcanvas-title img{
    width: 100px;
    margin-left: 120px;
  }
  .section-1{
    width: 100%;
    height: auto;
    background-image: url(../img/Banner/bg.webp);
    background-size: 100% 100%;
    background-position: 100%, 100%;
  }

  .section-1 h1{
    font-size: 30px;
    text-align: center;
  }

  .section-1 p{
    font-size: 20px;
    text-align: center;
  }

  .section-1 a{
    font-size: 18px;
    width: 173px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 0 auto;
  }

  .section-2{
    width: 100%;
    float: left;
    background-color:#121212;
  }

  .section-2 h2{
    font-size: 30px;
  }

  .section-2 img{
    width: 200px;
    height: auto;
    margin-left: 70px;
  }
  .galeria img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 1.2rem;
        margin-bottom: 10px;
        transition: all .3s ease-in-out;
    }
  .section03 h3{
    font-size: 30px;
  }
  .card-back-1{
    background-position: 100%, 100%;
    background-image: url(../img/Serviços/barba-mobile.webp);
  }
  .card-back-2{
    background-position: 100%, 100%;
    background-image: url(../img/Serviços/corte-mobile.webp);
  }
  .card-back-3{
    background-position: 100%, 100%;
    background-image: url(../img/Serviços/dia-noivo-mobile.webp);

  }
  .card-back-4{
    background-position: 100%, 100%;
    background-image: url(../img/Serviços/escova-progressiva-mobile.webp);
  }
  .card-back-5{
    background-position: 100%, 100%;
    background-image: url(../img/Serviços/sobramcelha-mobile.webp);
  }
  .card-back-6{
    background-position: 100%, 100%;
    background-image: url(../img/Serviços/maquina-mobile.webp);
  }
  .card-custom p{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  .call-to-action h3{
    font-size: 20px;
  }
  .call-to-action a{
    font-size: 16px;
  }
  .contact-box{
    text-align: center;
  }
  .section-4 h4{
    font-size: 30px;
  }
  .section-5{
    margin: 0 auto;
  }
  .section-6 h4{
  font-size: 20px;
  color: #121212;
}
.wave{
  width: 100%;
  margin: 0;
}
}